<!--<%
_layoutFile = false;
%>--><!doctype html>
<html>
<head>
  <title><%=title%></title>
  <link rel="shortcut icon" type="image/x-icon" href="/brand/img/favicon.ico">
  <style>
  body {
    font-family: Segoe UI Semibold;
    padding: 8px 0;
  }
  .homelink {
    text-decoration: none;
  }
  .homelink > img {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 12px;
    width: 188px;
  }
  .status {
    background-color: #454589;
    box-sizing: border-box;
    color: White;
    display: inline-block;
    font-size: 2.5em;
    height: 100px;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: calc(100% - 376px);
  }
  .status span {
    display: inline-block;
    margin: 21px 32px;;
  }
  .title {
    color: #232345;
    font-size: 1.75em;
    margin: 8px 0;
    vertical-align: middle;
  }
  .message {
    color: #00ade2;
    font-size: 1.5em;
    margin: 8px 0;
    vertical-align: middle;
  }
  .data {

  }
  .stack {
    font: 10pt Courier;
    white-space: pre-wrap;
  }
  </style>
</head>
<body>
  <div>
    <a class="homelink" href="/"><img src="/brand/img/logo.svg"/></a>
  </div>
  <div class="status"><span>Error <%=status%></span></div>
  <p class="title"><%=title%></p>
  <p class="message"><%=message%></p>
  <p class="data"><%=data%></p>
  <p class="stack"><%=stack%></p>
</body>
</html>
